<p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>

<!-- <p-tabMenu [model]="items">
   <div>
      <input type="text" pInputText placeholder="Search">
      <a routerLink="/logout">
          <button pButton label="Logout [{{username}}]" icon="fa fa-sign-out" style="margin-left:.25em"></button>
      </a>
  </div>
</p-tabMenu> -->

<router-outlet></router-outlet>
